.st0.active{            
	fill: #f30909;
    stroke: #333;
    stroke-width: 1;
}  

.item-tab{
    display: none;
}
  .active{
    display: block;
  }
}

.float-container {
    padding: 20px;
}

.float-child-a {
    width: 50%;
    float: left;
    padding: 10px;
}  

.float-child-b {
    width: 20%;
    float: left;
    padding: 10px;
}  