body {
    font-family: 'Montserrat', sans-serif;
}
#globalItems {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}
#infectedCountries {
    text-align: left;
    height: 285px;
    overflow: scroll;
}
.float-child-b table {
    margin-left: 0;
    margin-top: 10px;
}
.st0.active{            
	fill: #f30909 !important;
    stroke: #333;
    stroke-width: 1;
}  

.item-tab{
    display: none;
}
  .active{
    display: block;
  }
}

.float-container {
    padding: 20px;
}

.float-child-a {
    width: 50%;
    float: left;
    padding: 10px;
}  

.float-child-b {
    width: 20%;
    float: left;
    padding: 10px;
}

.float-child-time {
    width: 10%;
    float: left;
    padding: 5px;
}  

.float-child-new {
    width: 40%;
    float: left;
    padding: 5px;
}

.float-child-disease {
    width: 40%;
    float: left;
    padding: 5px;
}